# bivcoind RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.bivcoin
host=127.0.0.1

#mainnet default
port=8338

#testnet default
#port=18338

#regtest default
#port=18448

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=e8a0c6d1
genesis=0x00000000c7a6e1b05713fd042221db283ec0c789e23fba6f7adce642f0d588f3
input=/home/example/.bivcoin/blocks

# testnet
#netmagic=a39c93b2
#genesis=0x00000000c7a6e1b05713fd042221db283ec0c789e23fba6f7adce642f0d588f3
#input=/home/example/.bivcoin/testnet3/blocks

# regtest
#netmagic=8dd5bbeb
#genesis=0x00000000c7a6e1b05713fd042221db283ec0c789e23fba6f7adce642f0d588f3
#input=/home/example/.bivcoin/regtest/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
